<table class="table">
  <tbody>
    <tr>
      <td>
        <%= image_tag @user.photo, alt: 'User Photo', class: 'user-photo' %>
      </td>
      <td>
        <h1><%= @user.name %></h1>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <td>
    <p><%= @user.bio %></p>
  </td>
</table>

<table class="table">
  <tbody>
    <td>
      <% if @posts.present? %>
        <% @posts.each_with_index do |post, index| %>
          <div class="post">
            <%= link_to "Post ##{index + 1}: #{post.title}", user_post_path(post.author, post) %>
            <h2></h2>
            <p><%= truncate(post.text, length: 150) %></p>
            <p>
              Comments: <%= post.comments_counter %>,
              Likes: <%= post.likes_counter %>
            </p>
          </div>
        <% end %>
        <%= link_to "See All Posts", user_posts_path(@user), class: 'btn btn-primary' %>
      <% else %>
        <p>No posts found</p>
      <% end %>
    </td>
  </tbody>
</table>
