<div class='container'>
  <div class='row mb-2 m-0 pt-2'>
    <div class='col-md-1'>
      <%= image_tag @user.photo, class: 'img-thumbnail' %>
    </div>
    <div class='col-md-11 card pt-2'>
      <div class='row justify-content-between'>
        <h4 class='align-bottom'><%= @user.name %></h4>
        <label class='align-bottom text-end'>Number of posts: <span><%= @user.posts_counter %></span></label>
      </div>
    </div>
    <div class='col-md-12 card mt-2'>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <ul class='table table-responsive table-hover p-0'>
    <% @posts.each do |post| %>
      <li class=''>
        <div class='card mt-2'>
          <h5 class='col-md-12'>
            <%= link_to post.title, user_post_path(@user, post) %>
          </h5>
          <p class='col-md-12 pt-2'>
            <%= post.text %>
          </p>
          <div class='col-md-12 pt-2 text-end'>
            <label class='me-2'>
              Comments: <span><%= post.comments_counter %></span>
            </label>
            <label>
              Likes: <span><%= post.likes_counter %></span>
            </label>
          </div>
        </div>
        <div class='col-md-12 card mt-2'>
          <% post.recent_comments.each do |comment| %>
            <div class=''>
              <%= comment.user.name %>:</span> <span><%= comment.text %></span>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
